@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color: #cbe4de;
    --main-color: #0E8388;
    --second-color:#2E4F4F;
    --white-color: #F2F4F3;
    --text-color: #2E4F4F;
    --shadow-color: rgba(0,0,0,.25);
}

.dark-mode{
    --bg-color: #2C3333;
    --main-color: #0E8388;
    --second-color:#2E4F4F;
    --white-color: #F2F4F3;
    --text-color: #F2F4F3;
    --shadow-color: rgba(39, 107, 98, 0.616);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}


/* header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;   
    transition: .3s;
}


.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    margin-right: auto;
}

.logo span{
    color: var(--second-color);
}

.navbar a{
    position: relative;
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 600;
    margin-right: 3.5rem;
}

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

#darkMode-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

#menu-icon{
    font-size: 3.6rem;
    display: none;
    cursor: pointer;
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.header.sticky .navbar a{
    color: var(--main-color);
}

.header.sticky .navbar a.active::before{
    background-color: var(--second-color);
    opacity: .7;
}

.header.sticky .navbar a.active{
    color: var(--second-color);
}

.header.sticky #darkMode-icon{
    color: var(--main-color);
    cursor: pointer;
}

.header.sticky #menu-icon{
    color: var(--main-color);
}

/* section */
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

/* section > home */
.home{
    display: flex;
    align-items: center;
}

.home .home-content{
    max-width: 44rem;
}

.home-content h3{
    font-size: 3rem;
    font-weight: 700;
    line-height: .2;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
    color: var(--text-color);
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    color: var(--main-color);
    background: transparent;
    border-radius: 50%;
    font-size: 2.5rem;
    margin: 2.5rem 1.5rem 3rem 0;
    border: .2rem solid var(--main-color);
    box-shadow: 0 .3rem .5rem var(--shadow-color);
    transition: .3s all ease-in-out;
}

.home-content .social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

.btn{
    display: inline-block;
    padding: 1.2rem 2.7rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.5rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
}

.btn:hover{
    background: var(--second-color);
    border-color: var(--second-color);
}

.home .profesi-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    background: transparent;
    overflow: hidden;
    pointer-events: none;
}

.home .profesi-container .profesi-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: profesiRotasi 13s ease-out infinite;
}

@keyframes profesiRotasi {
    0%, 20%{ 
        transform: rotate(0deg);
    }
    25%, 45%{
        transform: rotate(-90deg);
    }
    50%, 70%{
        transform: rotate(-180deg);
    }
    75%, 95%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.home .profesi-box .profesi{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 10px 0;
}

.home .profesi i{
    font-size: 3.7rem;
}

.home .profesi h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profesi-box .circle{
    width: 560px;
    height: 560px;
    border: 5px solid var(--main-color);
    border-radius: 50%;
}

.home .profesi-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--second-color);
    border-right: 384px solid var(--second-color);
    border-bottom: 384px solid var(--second-color);
    border-left: 384px solid transparent; 
}

.home-img img{
    position: absolute;
    bottom: -55px;
    right: 0;
    width: 40%;
    pointer-events: none;
}

span{
    color: var(--main-color);
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.about-img img{
    width: 35vw;
    pointer-events: none;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color: var(--text-color);
}


/* section > service */
.service{
    min-height: auto;
    padding-bottom: 7rem;
}

.service h2{
    margin-bottom: 5rem;
}

.service .service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box{
    flex: 1 1 30rem;;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    margin: auto .5rem;
    transition: .5 ease;
}

.service-container .service-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
    cursor: pointer;
}

.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.service-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}

.service-box:hover h3{
    color: var(--main-color);
}

.service-box p{
    margin: 1rem 0 3rem;
    font-size: 1.6rem;
    color: var(--text-color);
}


/* section > portofolio */
.portofolio{
    padding-bottom: 10rem;
}

.portofolio h2{
    margin-bottom: 4rem;
}

.portofolio .portofolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portofolio-container .portofolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
    overflow: hidden;
}

.portofolio-box > img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.portofolio-box .portofolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.25), var(--main-color));
    color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    justify-content: center;
    opacity: 0;
    transition: .5s ease-in-out;
}

.portofolio-box:hover .portofolio-layer{
    opacity: 1;
}

.portofolio-box:hover{
    cursor: pointer;
}

.portofolio-box:hover img{
    transform: scale(1.1);
}

.portofolio-layer h4{
    font-size: 3rem;
}

.portofolio-layer p{
    margin: .3rem 0 1rem;
    font-size: 1.3rem;
}

.portofolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portofolio-layer a i{
    font-size: 2rem;
    color: var(--text-color);
}


/* testimoni */
.testimoni-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.testimoni-container .testimoni-wrapper{
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimoni-content .testimoni-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
    height: 42rem;
}

.testimoni-slide img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: .3rem solid var(--white-color);
    outline: .3rem solid var(--main-color);
}

.testimoni-slide h3{
    font-size: 2.5rem;
    margin: 2rem 0;
}

.testimoni-slide p{
    text-align: center;
    font-size: 1.4rem;
}

.testimoni-wrapper .testimoni-box{
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.autoplay-progress {
    position: absolute;
    right: 78px;
    bottom: 68px;
    z-index: 10;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--main-color);
  }

.testimoni-box .swiper-button-next,
.testimoni-box .swiper-button-prev{
    color: var(--main-color);
}

.testimoni-box .swiper-button-next{
    right: 0;
}

.testimoni-box .swiper-button-prev{
    left: 0;
}

.testimoni-box .swiper-pagination-bullet{
    background: rgba(0,0,0,.7);
}

.testimoni-box .swiper-pagination-bullet-active{
    background: var(--main-color);
}


/* contact */
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--main-color);
}

.footer-text p{
    color: var(--white-color);
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    outline-color: var(--white-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-color);
}


/* BREAKSPOINT */
@media (max-width:1200px) {
    html{
        font-size:55%;
    }

    .home .profesi-container{
        height: 85.8rem;
    }

    .home .profesi-container .profesi-box{
        right: -12rem;
        height: 85.8rem;
    }

    .home .profesi-container .overlay{
        right: -9rem;
    }
}

@media (max-width:1024px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .home .profesi-container .profesi-box{
        right: -22rem;
    }

    .home .profesi-container .overlay{
        right: -15rem;
    }

}

@media (max-width:991px) {
    .navbar a:nth-child(1),
    .navbar a:nth-child(2),
    .navbar a:nth-child(3){
        color: var(--main-color);
    }

    .navbar a.active::before{
        background: var(--main-color);
        opacity: .8;
    }

    .home .home-content{
        max-width: 50rem;
    }

    .home .profesi-container .profesi-box{
        right: -45rem;
    }

    .home .profesi-container .overlay{
        right: -40rem;
    }

    .home-img img{
        display: none;
    }

    .service, .portofolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    #darkMode-icon{
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
        cursor: pointer;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        margin: 3rem 0;
        font-size: 2rem;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2),
    .navbar a:nth-child(3){
        color: var(--text-color);
    }

    .navbar a.active{
        color: var(--main-color);
    }

    .navbar a::before{
        display: none;
    }

    .home{
        padding: 0 3% 24rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        margin-top: 10rem;
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a{
        margin: 2.5rem .75rem 3rem;
    }

    .home .profesi-container .overlay{
        position: fixed;
        top: 65rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .home .profesi-container{
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profesi-container .profesi-box{
        position: fixed;
        top: 70%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .profesi-box .profesi{
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .profesi-box .profesi:nth-child(1){
        transform: rotate(-90deg) translate(-100px, -225px);
    }

    .home .profesi-box .profesi:nth-child(1) i{
        margin-right: 0;
    }

    .home .profesi-box .profesi:nth-child(2){
        transform: rotate(0deg) translate(0px, -335px);
    }

    .home .profesi-box .profesi:nth-child(3){
        transform: rotate(90deg) translate(-68px, -400px);
    }

    .home .profesi-box .profesi:nth-child(4){
        transform: rotate(180deg) translate(-175px, -335px);
    }
    
    .home .profesi-box .circle{
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }
    
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2{
        text-align: center;
    }

    .about-img img{
        width: 70vw;
        margin-top: -2rem;
    }

    .service h2, .portofolio h2{
        margin-bottom: 3rem;
    }

    .portofolio .portofolio-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .testimoni-container .testimoni-wrapper{
        padding: 5rem 0;
    }

    .testimoni-content .testimoni-slide{
        padding: 3rem 2rem;
    }

    .testimoni-box .swiper-button-next,
    .testimoni-box .swiper-button-prev{
        display: none;
    }

    .testimoni-box .testimoni-content .testimoni-slide p{
        width: 90%;
    }

    .testimoni-box .autoplay-progress{
        right: 3rem;
        bottom: 7rem;
    }
}

@media (max-width: 617px){
    .portofolio .portofolio-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }

    #darkMode-icon{
        right: 6rem;
        cursor: pointer;
    }

    .home{
        padding: 0 3% 30rem;
    }

    .home .profesi-box .profesi:nth-child(1){
        transform: rotate(-90deg) translate(-50%, -240px);
    }

    .home .profesi-box .profesi:nth-child(2){
        transform: rotate(0deg) translate(0px, -335px);
    }

    .home .profesi-box .profesi:nth-child(3){
        transform: rotate(90deg) translate(-50%, -400px);
    }
    
    .home .profesi-box .profesi:nth-child(4){
        transform: rotate(180deg) translate(-100%, -335px);
    }

    .home .profesi-container .overlay{
        top: 70rem;
    }

    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px) {
    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}